@Model DrugaMVC.Models.Student
@{
    ViewBag.Title = "TestRazorja";
}
<h1>Test razor sintakse</h1>
<ol>
    <li>StudentID: @Model.StudentId</li>
    <li>Ime:       @Model.StudentName</li>
    <li>Starost:   @Model.Age</li>
</ol>


